body{
    background-color: #acc2f2;

}

h1{
    font-family: Courier;
    text-align: center;
    color: #073255;

}

p{
    font-family: Verdana;
    text-align: center;
    color: #07233a;
    font-size: 20px;

}

a{
    width: 100%;
    
}